USE [master]
GO
/****** Object:  Database [DBMLG]    Script Date: 1/18/2023 9:27:41 AM ******/
CREATE DATABASE [DBMLG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBMLG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DBMLG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBMLG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DBMLG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBMLG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBMLG]
GO
/****** Object:  Table [dbo].[Articles]    Script Date: 1/18/2023 9:27:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles](
	[PKArticle] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[Description] [varchar](100) NULL,
	[Price] [decimal](8, 2) NOT NULL,
	[Image] [varchar](max) NOT NULL,
	[Stock] [int] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_Articles] PRIMARY KEY CLUSTERED 
(
	[PKArticle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArticleStore]    Script Date: 1/18/2023 9:27:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArticleStore](
	[PKArticleStore] [int] IDENTITY(1,1) NOT NULL,
	[FKArticle] [int] NOT NULL,
	[FKStore] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_ArticleStore] PRIMARY KEY CLUSTERED 
(
	[PKArticleStore] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerArticle]    Script Date: 1/18/2023 9:27:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerArticle](
	[PKCustomerArticle] [int] IDENTITY(1,1) NOT NULL,
	[FKCustomer] [int] NOT NULL,
	[FKArticle] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_CustomerArticle] PRIMARY KEY CLUSTERED 
(
	[PKCustomerArticle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 1/18/2023 9:27:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[PKCustomer] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Address] [varchar](50) NULL,
	[User] [varchar](50) NOT NULL,
	[Password] [varbinary](max) NULL,
	[FKRole] [int] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[PKCustomer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 1/18/2023 9:27:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[PKRole] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](100) NOT NULL,
	[Description] [varchar](400) NULL,
	[IsAvailable] [bit] NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[PKRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stores]    Script Date: 1/18/2023 9:27:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stores](
	[PKStore] [int] IDENTITY(1,1) NOT NULL,
	[Subsidiary] [varchar](50) NOT NULL,
	[Address] [varchar](100) NULL,
	[IsAvailable] [bit] NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_Stores] PRIMARY KEY CLUSTERED 
(
	[PKStore] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNIQ_Customers_User]    Script Date: 1/18/2023 9:27:42 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UNIQ_Customers_User] ON [dbo].[Customers]
(
	[User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Articles] ADD  CONSTRAINT [DF_Articles_IsAvailable]  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Articles] ADD  CONSTRAINT [DF_Articles_LastUpdated]  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[ArticleStore] ADD  CONSTRAINT [DF_ArticleStore_Date]  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[ArticleStore] ADD  CONSTRAINT [DF_ArticleStore_IsAvailable]  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[ArticleStore] ADD  CONSTRAINT [DF_ArticleStore_LastUpdated]  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[CustomerArticle] ADD  CONSTRAINT [DF_CustomerArticle_Date]  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[CustomerArticle] ADD  CONSTRAINT [DF_CustomerArticle_IsAvailable]  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[CustomerArticle] ADD  CONSTRAINT [DF_CustomerArticle_LastUpdated]  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_IsAvailable]  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_LastUpdated]  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF_Roles_IsAvailable]  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF_Roles_LastUpdated]  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Stores] ADD  CONSTRAINT [DF_Stores_IsAvailable]  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Stores] ADD  CONSTRAINT [DF_Stores_LastUpdated]  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[ArticleStore]  WITH CHECK ADD  CONSTRAINT [FK_ArticleStore_Articles] FOREIGN KEY([FKArticle])
REFERENCES [dbo].[Articles] ([PKArticle])
GO
ALTER TABLE [dbo].[ArticleStore] CHECK CONSTRAINT [FK_ArticleStore_Articles]
GO
ALTER TABLE [dbo].[ArticleStore]  WITH CHECK ADD  CONSTRAINT [FK_ArticleStore_Stores] FOREIGN KEY([FKStore])
REFERENCES [dbo].[Stores] ([PKStore])
GO
ALTER TABLE [dbo].[ArticleStore] CHECK CONSTRAINT [FK_ArticleStore_Stores]
GO
ALTER TABLE [dbo].[CustomerArticle]  WITH CHECK ADD  CONSTRAINT [FK_CustomerArticle_Articles] FOREIGN KEY([FKArticle])
REFERENCES [dbo].[Articles] ([PKArticle])
GO
ALTER TABLE [dbo].[CustomerArticle] CHECK CONSTRAINT [FK_CustomerArticle_Articles]
GO
ALTER TABLE [dbo].[CustomerArticle]  WITH CHECK ADD  CONSTRAINT [FK_CustomerArticle_Customer] FOREIGN KEY([FKCustomer])
REFERENCES [dbo].[Customers] ([PKCustomer])
GO
ALTER TABLE [dbo].[CustomerArticle] CHECK CONSTRAINT [FK_CustomerArticle_Customer]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Roles] FOREIGN KEY([FKRole])
REFERENCES [dbo].[Roles] ([PKRole])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Roles]
GO
USE [master]
GO
